#chooseDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: #f8f8f8;
    width: fit-content;
    margin-inline: auto;
}
#shapeDetails, #sizeDetails, #colorDetails {
  padding-top: 15px;
  margin-top: 15px;
}
#app {
  display: flex;
}
